@canvasWidth: 800px;
@canvasHeight: 560px;

html, body {
    margin:0;
    padding:0;
    overflow: hidden;
}

body{
    background-color:#333;
    color: #fff;
}

.center{
    margin: 0 auto;
    max-width: @canvasWidth;
}

@hudheight: 32px;

.hud{
    position: absolute;
    height: @hudheight;
}

.offsetcanvas{
    top: @hudheight;
}

.bgcanvas{
    .offsetcanvas;
    position:absolute;
    z-index:1;
}

.maincanvas{
    .offsetcanvas;
    position:absolute;
    z-index:2;
}

.menuwrap{
    margin: 0 auto;
    width: 60%;
    padding-top:10%;
}

.container{
    width: @canvasWidth;
    height: @hudheight + @canvasHeight;
    background: #000 url('../img/sunset.jpg') no-repeat;
    background-size: cover;

    position:absolute;
    z-index:3;
}

#Controls {
    & table{
        width: 100%;
        border: none;

        & th{
            width:20%;
        }
    }
}

#Menu button {
    .btn;
    display: block;
    width: 100%;
    height: 64px;
    font-size: 2em;
    color: #fff;
    background-color: blue;
    opacity: 0.5;
    margin-bottom: 50px;
}

#tiles{
    //position:absolute;
    //top:0;
    //left:0;
    //opacity:0.7;
    height: @hudheight;
    width: @canvasWidth;
    background-color: #000;
}

#Game{

}

.row{
    width: 100%;
}

.hudcontainer{
    float:left;
    padding-right: 8px;
}

.btnrow{
    height: @hudheight / 2;
}

.btn{
    border: none;
    cursor: pointer;
}

.btn-small{
    height: @hudheight / 2 - 4;
    background: blue;
    color: white;
    width: 50px;
    margin: 2px;
    font-size: 0.6em;    
}

.mode{
    margin: 1px 2px;
    height: @hudheight - 4;
    width: @hudheight - 4;
    display: inline-block;
    cursor: pointer;
}

#dot{
    .mode;
    background-color: blue;
}

#line{
    .mode;
    background-color: blue;
}

#box{
    .mode;
    background-color: blue;
}

#fill{
    .mode;
    background-color: blue;
}

.tile{
    margin: 8px 2px;
    height: 16px;
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.tile-active{
    border: 1px solid #f00;
}

#none{
    .tile;
    background-color: blue;
}

#solid{
    .tile;
    background-color: #ccc;
}

#break{
    .tile;
    background-color: #999;
}