html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: #333;
  color: #fff;
}
.center {
  width: 640px;
  margin: 0 auto;
}
.hud {
  position: absolute;
  height: 32px;
}
.offsetcanvas {
  top: 32px;
}
.bgcanvas {
  top: 32px;
  position: absolute;
  z-index: 1;
}
.maincanvas {
  top: 32px;
  position: absolute;
  z-index: 2;
}
#tiles {
  height: 32px;
  width: 640px;
  background-color: #000;
}
.hudcontainer {
  float: left;
  padding-right: 8px;
}
.btnrow {
  height: 16px;
}
.btn {
  height: 12px;
  border: none;
  background: blue;
  color: white;
  width: 50px;
  margin: 2px;
  font-size: 0.6em;
  cursor: pointer;
}
.mode {
  margin: 1px 2px;
  height: 28px;
  width: 28px;
  display: inline-block;
  cursor: pointer;
}
#dot {
  margin: 1px 2px;
  height: 28px;
  width: 28px;
  display: inline-block;
  cursor: pointer;
  background-color: blue;
}
#line {
  margin: 1px 2px;
  height: 28px;
  width: 28px;
  display: inline-block;
  cursor: pointer;
  background-color: blue;
}
#box {
  margin: 1px 2px;
  height: 28px;
  width: 28px;
  display: inline-block;
  cursor: pointer;
  background-color: blue;
}
#fill {
  margin: 1px 2px;
  height: 28px;
  width: 28px;
  display: inline-block;
  cursor: pointer;
  background-color: blue;
}
.tile {
  margin: 8px 2px;
  height: 16px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
}
.tile-active {
  border: 1px solid #f00;
}
#none {
  margin: 8px 2px;
  height: 16px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
  background-color: blue;
}
#solid {
  margin: 8px 2px;
  height: 16px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
  background-color: #ccc;
}
#break {
  margin: 8px 2px;
  height: 16px;
  width: 16px;
  display: inline-block;
  cursor: pointer;
  background-color: #999;
}
