
html, body {
    margin:0;
    padding:0;
    overflow: hidden;
}

body{
    background-color:#333;
    color: #fff;
}

.center{
    width: 1024px;
    margin: 0 auto;
}

#tiles{
    position:absolute;
    top:0;
    right:0;
    opacity:0.7;
    padding: 16px;
}

.tile{
    height: 16px;
    width: 16px;
    margin-bottom: 16px;
    display: inline-block;
}

#clear{
    .tile;
    border:1px solid red;
}

#none{
    .tile;
    border:1px solid blue;
}

#solid{
    .tile;
    background-color: #ccc;
    margin: 0px 1px 16px 1px;
}

#break{
    .tile;
    background-color: #999;
    margin: 0px 1px 16px 1px;
}